html,
body {
  height: 100%;
}

.App {
  text-align: center;
}

.item-box {
  border:1px solid black;
  padding: 10px;
  background-color: white;
}

.item-wrapper {
  display: inline-block;
  padding: 10px;
}

.header-box {
  padding: 5px;
  height: 100%;
}

.attractions-list {
  padding-top: 40px;
}

.footer-box {
  padding: 5px;
  padding-top: 50px;
  height: 100%;
}

.app-box {
  min-height: 100%;
  height: auto !important;
}
